spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: dioufcheikhtt@gmail.com
    password: zxsc dhdr nozv sbil
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  datasource:
    url: jdbc:postgresql://localhost:5432/machalla
    username: postgres
    password: passer
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

server:
  port: 8090
